<label>Server Name</label>
<!-- <p>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
</p> -->
<p>
<input type="text" class="form-control" [(ngModel)]="serverName">
</p>
<!-- <p>{{serverName}}</p> -->
<p>
    <button class="btn btn-primary"
            [disabled]="!allowNewServers"
            (click)="onCreateServer()">Add Server</button>
</p>
<!-- <p>{{allowNewServers}}</p>
<p [innerText]="allowNewServers"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server Was Created, Name is: {{serverName}}</p>
<ng-template #noServer>
    <p>No Server Was Created</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>
